<% if @categories.any? %>
  <table class="list">
    <thead>
      <th>#</th>
      <th><%= l(:label_faq_category) %></th>
      <th><%= l(:field_faq_counts_under_category) %></th>
      <th style="width:15%"></th>
      <th style="width:15%"></th>
      <th style="width:15%"></th>
    </thead>
    <tbody>
      <% for category in @categories %>
        <% unless category.new_record? %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%=category.position%></td>
            <td><%=h(category.name) %></td>
            <td><%=h(category.faqs.size) %></td>
            <td align="center">
              <% if authorize_for("faq_categories", "edit") %>
                <%= link_to image_tag('2uparrow.png', :alt => l(:label_sort_highest)), {:controller => 'faq_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'highest'}, :method => :post, :title => l(:label_sort_highest) %>
                <%= link_to image_tag('1uparrow.png', :alt => l(:label_sort_higher)), {:controller => 'faq_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'higher'}, :method => :post, :title => l(:label_sort_higher) %> -
                <%= link_to image_tag('1downarrow.png', :alt => l(:label_sort_lower)), {:controller => 'faq_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'lower'}, :method => :post, :title => l(:label_sort_lower) %>
                <%= link_to image_tag('2downarrow.png', :alt => l(:label_sort_lowest)), {:controller => 'faq_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'lowest'}, :method => :post, :title => l(:label_sort_lowest) %>
              <% end %>
            </td>
            <td align="center"><%= link_to_if_authorized l(:button_edit), { :controller => 'faq_categories', :action => 'edit', :id => @project, :category_id => category }, :class => 'icon icon-edit' %></td>
            <td align="center"><%= link_to_if_authorized l(:button_delete), {:controller => 'faq_categories', :action => 'destroy', :id => @project, :category_id => category}, :method => :post, :class => 'icon icon-del' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<p><%= link_to_if_authorized l(:label_faq_category_new), :controller => 'ezfaq', :action => 'add_faq_category', :id => @project %></p>
