<script type="text/javascript">
//<![CDATA[
function change_stars() {
  stars = $("stars_img");
  difficulty = $("faq_difficulty");
  position = stars.src.lastIndexOf("_") + 1;
  new_img = stars.src.substring(0, position) + difficulty.value + ".png";
  stars.src = new_img;
  stars.alt =  $("difficulty_label").value + difficulty.value;
  stars.title = stars.alt;
}

//]]>
</script>

<p><%= f.text_field :question, :size => 80, :required => true %></p>
<p><%= f.text_area :answer,
                   :cols => 60,
                   :rows => (@faq.answer.blank? ? 10 : [[10, @faq.answer.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %></p>
             
<div class="splitcontentleft">
<p><%= f.select :category_id, (@faq_categories.collect {|c| [c.name, c.id]}), :include_blank => true %>
<%= prompt_to_remote(l(:label_faq_category_new),
                     l(:label_faq_category_new), 'category[name]', 
                     {:controller => 'ezfaq', :action => 'add_faq_category', :id => @project},
                     :class => 'small', :tabindex => 199) if authorize_for('ezfaq', 'add_faq_category') %></p>
<p>
<%= f.select :difficulty, (1..10), {}, :required => true, :onchange => "change_stars();"%>
<%= image_tag("stars_5.png", :plugin => "ezfaq_plugin", :id => "stars_img", :alt => "#{l(:field_difficulty)}5", :title => "#{l(:field_difficulty)}5") %>
</p>
<p><%= f.text_field :related_issue_id, :size => 10 %> <%= l(:label_info_for_input_id) %></p>
<p><%= f.select :related_version_id, @project.versions.sort.collect {|v| [v.name, v.id]}, :include_blank => true %></p>
</div>

<div class="splitcontentright">
<p><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true %></p>
<p><%= f.text_field :due_date, :size => 10 %><%= calendar_for('faq_due_date') %></p>
<p><%= f.text_field :related_message_id, :size => 10 %> <%= l(:label_info_for_input_id) %></p>
</div>

<%= hidden_field_tag 'difficulty_label', l(:field_difficulty) %>

<p />
<% if @faq.new_record? %>
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
<% end %>

<%= wikitoolbar_for 'faq_answer' %>
