<table class="list">
  <thead><tr>
    <%= sort_header_tag("#{Faq.table_name}.id", :caption => '#') %>
    <%= sort_header_tag("#{Faq.table_name}.question", :caption => l(:field_question)) %>
    <%= sort_header_tag("#{Faq.table_name}.difficulty", :caption => l(:field_difficulty)) %>
    <%= sort_header_tag("#{Faq.table_name}.category_id", :caption => l(:field_category)) %>
    <%= sort_header_tag("#{Faq.table_name}.answers_count", :caption => l(:field_answers_count)) %>
    <%= sort_header_tag("#{Faq.table_name}.updated_on", :caption => l(:field_updated_on), :default_order => 'desc') %>
  </tr></thead>
  <tbody>
<% for faq in @not_answered_faqs -%>	
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= faq.id %></td>
    <td><%= link_to faq.question, :controller => 'ezfaq', :action => 'show', :id => @project, :faq_id => faq %></td>
    <td><%= faq.difficulty %></td>
    <td><%= faq.category %></td>
    <td><%= faq.answers_count %></td>
    <td align="center"><%= format_time(faq.updated_on) %></td>
  </tr>		
<% end %>
  </tbody>

</table>


