<h2><%= l(:label_faq) %>#<%= @faq.id %></h2>

<% labelled_tabular_form_for :faq, @faq, 
                             :url => {:action => 'edit', :id => @project, :faq_id => @faq},
                             :html => {:multipart => true, :id => 'faq-form'} do |f| %>
    <%= error_messages_for 'faq' %>
    <div class="box">
    <%= render :partial => 'ezfaq/edit', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_update) %>
    <%= link_to_remote l(:label_preview),
                       { :url => { :controller => 'ezfaq', :action => 'preview', :id => @project },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('faq-form')",
                         :complete => "Element.scrollTo('preview')"
                       }, :accesskey => accesskey(:preview) %>
<% end %>

<div id="preview" class="wiki"></div>

<% html_title(l(:label_title_ezfaq)) -%>