<h2><%= l(:label_settings) %></h2>

<div id="settings">
<% labelled_tabular_form_for :faq_setting, @faq_setting, :url => {:id => @project}, :html => {:id => 'faq_setting-form'} do |f| %>
<%= error_messages_for 'faq_setting' %>
<div class="box">
  <p><%= f.text_field :pdf_title, :size =>80, :required => true %></p>
  <p><%= f.text_area :note, :label => :field_faq_note,:cols => 80, :rows => 4, :required => true %></p>
</div>
<%= submit_tag l(:button_save) %>
<% end %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'ezfaq/sidebar' %>
<% end %>

<% html_title(l(:label_title_ezfaq)) -%>